<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 24px; color: #333; font-size: 14px; font-family: Verdana, Arial, sans-serif">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 16px">
    <p>E-mail:
      <span style="font-weight: bold;">{{email}}</span>
    </p>
  </div>
  <hr>
  <p style="line-height: 32px; border: 0;padding: 10px;text-align: center;text-transform: uppercase;letter-spacing: 1px;font-weight: bold;font-size: 2em;background-color: #7b1fa2 !important;color: #fff;">
    {{token}}
  </p>
  <p>Copie o
    <span style="font-weight: bold">TOKEN</span> acima para alterar a senha.</p>
</div>
